/* drop down */

.dropdown {
	position: relative;
	display: inline-block;
  }

  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
  }

  .dropdown:hover .dropdown-content {
	display: block;
  }
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  .dropdown-content a {
	color: blue;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

  .dropdown:hover .dropdown-content {
	display: block;
  }


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background-color: lightblue;
	padding: 0;
	}
p {
	margin-top: 0;
	text-align: justify;
	}
h3 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
	}

h1 {
	color: red;
	font-weight: bold;
}

input {
	font-size: 12px;
}

option {
	font-size: 12px;
}
a:link {
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	}
a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}




footer {
	text-align: center;
	}
footer a:link, footer a:visited {
	margin-right: 20px;
	}








#gender {
	font-size: 12px;
}

#breastfeeding {
	font-size: 12px;
}

label {
	font-size: 16px;
}

hr {
	color: red;
}
