@{
  Layout = "_Layout";
}
<div class="container text-center">
<h1> <img src="/img/sun.gif" alt="sun" height="300px" width="300px"><span class="title">Child MileStone</span></h1>
<hr>

<h1>Child Development Timeline website geared toward parents to learn their child's development timeline from birth to 5 years old. The user needs to create an account to login and fill the form statistic information about their child. The result shows in line chart and parent can compare the result with other kids result by choosing specific parts of the form. Also parent can modify child's information.</h1>

<div class="license">
<h3>This software is licensed under the MIT license & Epicodus Copyright (c) 2018 Gulzat, Glen, Stuart, Kaveh</h3>
</div>

</body>
</html>