<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChildDevelopment</title>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
  </head>
  <body>
    <div class="nav">
      <a href="/" class="btn btn-info">Home</a>
      <a href="/children" class="btn btn-primary">Show all children</a>
      <a href="/children/new" class="btn btn-warning">Data Form</a>
      <a href="/children/edit" class="btn btn-success">Modify child info</a>     
    </div>
    @RenderBody()
  </body>
</html>
