<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);


    function drawChart() {
      var stringArray=["I HATE CSHARP!","hold_head",
      "roll_over",
      "first_teeth",
      "sit",
      "crawl",
      "walk",
      "first_words",
      "self_feeding",
      "make_believe",
      "two_word_sentence",
      "potty_trained",
      "dressed_self",
      "tell_story",
      "read_write"]
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Events');
      data.addColumn('number', 'Current Child');
      data.addColumn('number', 'Average');




      data.addRows(@Model);

      var options = {
        chart: {
          title: 'Child Development Timeline',
          subtitle: 'in weeks'
        },
        width: 1500,
        height: 500,
        axes: {
          x: {
            0: {side: 'bottom'}
          }
        }
      };


      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
</head>
<body>
  <div id="line_top_x"></div>
</body>
</html>
