


@if(@Model.GetName() == "null")
{
    <h2>This user name could not be found. Click <a href="/"> here </a> to try again. </h2>
}
else if (@Model.GetPassword() == "null")
{
    <h2>Wrong password, Click <a href="/"> here </a> to try again</h2>
}

else
{
    <h2>Thank you for logging in @Model.GetName().</h2>
    <h3><a href="/children/index/@Model.GetId()">Click to continue to your account</a></h3>

}
<h4><a href="/">Back home</a></h4>