@using ChildDevelopment.Models;

@if(@Model.GetName() == "none")
{
    <h2>This user name could not be found. Click <a href="/"> here </a> to try again. </h2>
}
else if (@Model.GetPassword() == "none")
{
    <h2>Wrong password, Click <a href="/"> here </a> to try again</h2>
}

else
{

<div class="container text-center">
    <h2>Thank you for logging in @Model.GetName().</h2>
   <h4><a href="/children">Click here to see details</a></h4>
</div>
}
<h4><a href="/">Back home</a></h4>
