@using ChildDevelopment.Models;

@if(@Model.GetName() == "none")
{
    <h2>This user name could not be found. Click <a href="/"> here </a> to try again. </h2>
}
else if (@Model.GetPassword() == "none")
{
    <h2>Wrong password, Click <a href="/"> here </a> to try again</h2>
}

else
{

    <h2>Thank you for logging in @Model.GetName(). <a href="/children/edit/@Model.GetChildId()">Click here </a> to update your child profile</h2>


    <html>
<head>
    @{
  Layout = "_Layout";
}
</head>
</html>

}
