@using ChildDevelopment.Models;
@{
  Layout = "_Layout";
}

<div class="controller text=center">
 <h1>@Model.GetName() you successfully created your new account</h1>
 
 <h3><a href="/children/index">Click to go to your account</h3></h3>